################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GateKeeperSDK/obj
/GateKeeperSDK/bin
/CGCardIntegrate/Properties/AssemblyInfo.cs
/packages/System.Management.4.0.0
/packages/32feet.NET.3.5.0.0
/CGCardIntegrate/bin/Debug
/CGCardIntegrate/obj/Debug
/ConsoleTest/bin/Debug
/ConsoleTest/obj/Debug
/GateKeeperSDKTest/bin/Debug
/GateKeeperSDKTest/obj/Debug
/CGCardIntegrate/obj/Release
/GateKeeperSDKTest/bin/Release
/GateKeeperSDKTest/obj/Release
/.vs/KPIEPlugin/v14/.suo
