################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GateKeeperSDK/obj
/GateKeeperSDK/bin
/CGCardIntegrate/Properties/AssemblyInfo.cs
/packages/System.Management.4.0.0
/packages/32feet.NET.3.5.0.0
